
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}

.popup-section {
  background: tomato;
  height: 100vh;
  width: 100%;
}

.popup-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  position: relative;
}

.popup-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.popup-section>p {
  width: 500px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

button#popup-btn {
  padding: 10px 15px;
  border: none;
  margin: 20px auto;
  display: block;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}
.popup-box p {
  text-align: center;
  margin-top: 10px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 10px;
  background: tomato;
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
}

