
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}

.popup-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.popup-box {
  background: rgb(6, 103, 141);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  position: relative;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup-area {
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #7474742b;
  position: fixed;
  top: 0;
  left: 0;
}

button#popup-btn {
  padding: 10px 15px;
  border: none;
  margin: 40px 50px;
  display: block;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: #06678d;
  color: #fff;
  cursor: pointer;
  display: block;
}
.popup-box p {
  text-align: center;
  margin-top: 10px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 10px;
  background: white;
  color: #06678d;
  border: 1px solid #06678d;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

